@font-face {
    font-family: 'gooddogregular';
    src: url('../font/gooddog-webfont.eot');
    src: url('../font/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gooddog-webfont.woff') format('woff'),
         url('../font/gooddog-webfont.ttf') format('truetype'),
         url('../font/gooddog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'komika_display';
    src: url('../font/komika_display-webfont.eot');
    src: url('../font/komika_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/komika_display-webfont.woff') format('woff'),
         url('../font/komika_display-webfont.ttf') format('truetype'),
         url('../font/komika_display-webfont.svg#komika_display') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yesterdaysmeal';
    src: url('../font/yesterdaysmeal-webfont.eot');
    src: url('../font/yesterdaysmeal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/yesterdaysmeal-webfont.woff') format('woff'),
         url('../font/yesterdaysmeal-webfont.ttf') format('truetype'),
         url('../font/yesterdaysmeal-webfont.svg#yesterdaysmeal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shortstack-regular';
    src: url('../font/shortstack-regular-webfont.eot');
    src: url('../font/shortstack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/shortstack-regular-webfont.woff') format('woff'),
         url('../font/shortstack-regular-webfont.ttf') format('truetype'),
         url('../font/shortstack-regular-webfont.svg#shortstack-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

shortstack-regular-webfont

