html
{
	background-image: url(../img/main_bg.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	
	font-family:Arial;
	font-size:11pt;
}

div#wrapper
{
	width: 900px;
	position: relative;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-image: url(../img/sunshine_2.png);
	background-position: center -50px;
}

header.main
{
	width:100%;
	height:180px;
	position:relative;	
}

header.main div.logo
{
	float:left;	
	margin:25px 0 25px 50px;
}

nav.top
{
	margin:65px 25px 25px 0;
	float:right;	
}

nav.top ul
{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

nav.top ul li
{
	margin:0;
	padding:50px 0 0 0;
	float:left;
	background-position: center 100px;
}

nav.top ul li:hover,
nav.top ul li.current
{
	background-image: url(../img/sun_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	transition: background-position 0.3s;
	-webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
	
}
nav.top ul li:hover a,
nav.top ul li.current a
{
	background-position: 0 60px;	
	transition: background-position 0.3s;
	-webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
}

nav.top ul li a
{
	margin: 0;
	padding: 10px 10px 15px 10px;
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	background-repeat: repeat-x;
	background-position: 0 -30px;
	
	font-family: 'gooddogregular';	
	font-weight: normal;
	font-size: 15pt;
	text-transform: uppercase;
	letter-spacing:2px;
	text-shadow: 2px 1px #000;
}

nav.top ul .red a{
	background-color: #dd1b1b;
	margin-top: 0;
	background-image: url(../img/nav/red.png);
}
nav.top ul .orange a{
	background-color: #f7941d;
	margin-top: 0;
	background-image: url(../img/nav/orange.png);
}
nav.top ul .brown a{
	background-color: #ffc866;
	margin-top: 0;
	background-image: url(../img/nav/brown.png);
}
nav.top ul .green a{
	background-color: #8ec63f;
	margin-top: 0;
	background-image: url(../img/nav/green.png);
}
nav.top ul .blue a{
	background-color: #00adef;
	margin-top: 0;
	background-image: url(../img/nav/blue.png);
}
nav.top ul .violet a{
	background-color: #EE82EE;
	margin-top: 0;
	background-image: url(../img/nav/violet.png);
}


#banner
{
	width:830px;
	padding:10px;
	margin:0 25px 0 25px;
   	position:relative;
	background:#fff;	
}
#banner img{width:830px;}	





#container
{
	width:830px;
	padding:10px 10px 280px 10px;
	margin:0 25px 0 25px;
   	position:relative;
	background:#fff;
	overflow:auto;	
	font-size:11pt;
}

.justify
{
	text-align:justify;	
}

#container h1
{
	font-family: 'komika_display';
	font-size:20pt;	
	color:#de1d20;
	font-weight:normal;
	letter-spacing:1px;
	margin:0;
	padding:0;
}


#container h2.topic
{
	font-family:komika_display;
	font-size:13pt;
	letter-spacing:1px;
	margin: 25px 0 15px 35px;
	padding: 5px 50px 5px 35px;
	position: relative;
	color: #fff;
	font-weight:normal;
	background-color: #1e6db6;
	background-image: url(../img/highlight.png);
	background-repeat: repeat-y;
	background-position: left top;
	display:block;
	border-radius:15px;
	float:left;
	clear:left;
}
#container h2.topic .bee
{
	background-image: url(../img/bee.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	
	width:62px;
	height:50px;
	position:absolute;
	display:block;	
	top:-15px;
	left:-35px;
}

#container h2.topic:before { content:''; 
	background-image: url(../img/bee.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	width:62px;
	height:50px;
	position:absolute;
	display:block;	
	top:-15px;
	left:-35px;
}

#container h2.topic .event
{
	background-image: url(../img/events_icon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	
	width:50px;
	height:47px;
	position:absolute;
	display:block;	
	top:-5px;
	left:-35px;
}
#container h2.topic.event:before {background-image: url(../img/events_icon.png);
	width:50px;
	height:47px;
	position:absolute;
	display:block;	
	top:-5px;
	left:-35px;
}


article.main
{
	width:520px;
	float:left;
	min-height:300px;
}

article.main ul,
article.main ol,
article.main p
{
	float:left;	
	clear:both;
}
article.main ul,
article.main ol
{
	margin:0;
	padding:0 0 0 15px;	
}
article.main ul li{ padding:0 0 10px 0;}
article.main ol li{ padding:0 0 10px 0;}


article.main table.contact
{
	float:left;
	clear:both;
}
article.main table.contact td
{
	padding:0 0 10px 0;	
}

aside.sidebar
{
	width:280px;
	float:right;
	min-height:300px;

}

aside.sidebar div.latest
{
	width:100%;
	float:left;
	margin:0;	
}

aside.sidebar div.latest img
{
	width:50px;
	float:left;	
	background-color:#fff;
}
aside.sidebar div.latest span
{
	float:left;
	margin:10px;	
}
aside.sidebar div.latest a
{
	color:#000;	
}


aside.sidebar div.sideimage
{
	width:100%;
	height:720px;
	float:left;
	margin:25px 0 0 0;	
	background-image: url(../img/side_image.png);
	background-repeat: no-repeat;
}

a.readmoreaboutus
{
	width: 250px;
	height: 50px;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../img/readmore.png);
	background-repeat: no-repeat;	
}

/* === Event & Photo ====================== */


article.full
{
	width:100%;
	float:left;
	margin:0 0 50px 0;
}

article.imagewrap
{
	width:600px;
	float:left;
	margin:0 0 50px 0;
}


aside.links
{
	width:220px;
	float:left;
	margin-right:10px;
}

aside.links ul
{
	float:left;
	margin:5px 0 0 15px;
	padding:0;
	list-style:none;
}

aside.links ul li
{
	padding:0 0 5px 0;
}

aside.links ul li a
{
	text-decoration:none;
	color:#000;	
	padding:5px;
}
aside.links ul li a:hover{ text-decoration:underline; }


/* === Footer ========================= */
footer.main
{
	width:900px;
	height:251px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
}

footer.main nav
{
	float:left;
	margin:170px 0 0 50px;
	padding:0;
	font-size:10pt;	
}

footer.main nav ul
{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

footer.main nav ul li
{
	float:left;
	margin:0;
	padding:0;
}

footer.main nav ul li a
{
	float: left;
	margin: 0;
	padding: 0 5px 0 5px;
	text-decoration: none;
	color: #000;
}
footer.main p.note
{
	margin:0;
	padding:0 0 0 5px;	
}


